body {
  font-size: 14px;
  line-height: 16px;
  color: black;
  font-family: "PT Sans", "Arial", sans-serif;
  margin-top: 0;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.white-text {
  color: white;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  color: #000000;
}

h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

header *,
main *,
footer * {
  box-sizing: border-box;
}

header {
  position: relative;
  background-color: #ffffff;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.header-logo {
  position: absolute;
  left: 50%;
  right: 50%;
  margin-left: -69px;
  z-index: 1000;
}

nav {
  min-height: 56px;
}

nav a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

nav ul {
  padding: 0;
  margin: 0;
  font-size: 0;
  list-style: none;

}

.top-menu li {
  float: left;
  padding-top: 14px;
  width: 240px;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.top-menu-right li{
  float: right;
}

main {
  text-align: center;
  background-color: #ffffff;
}

.intro {
  position: relative;
  height: 508px;
  background-image: url("../img/intro-background.jpg");
  padding-top: 26px;
  background-color: #000000;
}

.intro::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 57px;
  bottom: 0;
  background-image: url("../img/intro-mask.png");
}

.intro img {
  display: block;
  margin: 50px auto;
}

.content {
  padding-top: 59px
}

.content-top {
margin-bottom: 33px;
}

.content-top h2{
  margin: 0 auto;
  width: 530px;
}

.reasons-title {
  margin-top: 15px;
  margin-bottom: 56px;
}

.reasons-item {
  margin: 0;
  padding: 0;
  float: left;
  width: 400px;
  min-height: 256px;
  background-color: #81b3d2;
}

.reasons-item-info {
  width: 400px;
  padding: 0 47px;
  padding-top: 54px;
  min-height: 202px;
  /*margin-bottom:*/
  /*background-color: #81b3d2;*/
}

.reasons-item-info h2,
.small-reasons-item h2 {
  margin: 0 auto;
  width: 150px;
  margin-bottom: 26px;
  line-height: 21px;
}

.reasons-item-image {
  float: left;
  width: 800px;
  height: 256px;
}

.reason-number {
  margin-bottom: 23px;
}

.reasons-item-info p,
.features-item p,
.small-reasons-item p {
  line-height: 21px;
}

.small-reasons-item p {
  margin: 0 auto;
  width: 270px;
}

.features {
  float: left;
  padding: 0;
  margin: 0;
}

.features-item {
  padding: 0 50px;
  width: 400px;
  height: 330px;
  float: left;
  list-style-type: none;
  padding-top: 158px;
  background-color: #ffffff;
  background-repeat: no-repeat;

}

.features-item h2 {
  margin-top: 0;
  margin-bottom: 21px;
}

.features-item:nth-child(1) {
  background-image: url("../img/housing-icon.png");
  background-position: 50% 60px;
}

.features-item:nth-child(2) {
  background-image: url("../img/food-icon.png");
  background-position: 50% 61px;
}

.features-item:nth-child(3) {
  background-image: url("../img/souvenir-icon.png");
  background-position: 50% 56px;
}

.small-reasons {
  float: left;
  padding: 0;
  margin: 0;
}

.small-reasons-item {
  padding: 0 50px;
  width: 400px;
  height: 256px;
  float: left;
  list-style-type: none;
  padding-top: 48px;
  background-color: #eeeeee;
  background-repeat: no-repeat;
  background-position: 50% 60px;
}

.booking {
  position: relative;
  min-height: 291px;
  padding-top: 55px;
  /*margin-bottom: 24px;*/
}

.booking p {
  margin: 28px auto;
  line-height: 24px;
}

.booking-title {
  font-size: 30px;
  line-height: 24px;
}

.booking-form-container {
  width: 568px;

  position: absolute;
  top: 205px;
  margin: 0 auto;
  left: 0;
  right: 0;
  background: #ffffff;
}

.booking-form-container form {
  display: block;
  width: 100%;
  min-height: 480px;
}

.booking-form-name {
  background-color: #766357;
  min-height: 56px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.booking-form-name a {
  display: inline-block;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  font-weight: bold;
}

.booking-filters-form {
  min-height: 217px;
  color: white;
  text-align: left;
  background: #7594b3 url("../img/filters-background.jpg");
}

.booking-filters-form legend {
  font-weight: bold;
}

fieldset {
  border-color: transparent;;
}

.filters-column-infrastructure,
.filters-column-housing {
  float: left;
  width: 200px;
}

.filters-column-price {
  float: right;
  margin-right: 73px;
  width: 328px;
}

.search-top {
  min-height: 86px;
  border-bottom: 1px solid #e5e5e5;
}

.search-result-count {
  float: left;
  width: 140px;
}

.results-sorting {
  float: left;
  width: 395px;
}

.results-sorting li {
  display: inline-block;
}

.results-sorting-direction {
  float: right;
  width: 35px;
}

.results-sorting-direction a{
  text-decoration: none;
}

.search-result-item {
  min-height: 150px;
  border-bottom: 1px solid #e5e5e5;
}

.item-photo {
  float: left;
  width: 135px;
  height: 90px;
  overflow: hidden;
}

.item-details {
  float: left;
  width: 400px;
  text-align: left;
}

.item-details b {
  display: block;
}

.item-rating {
  float: right;
}

.booking-map {
  width: 1200px;
  height: 593px;
}

footer {
  position: relative;
  margin-top: -120px;
  z-index: 10;
  background-color: rgba(254, 254, 254, 0.9);
  min-height: 120px;
}

.footer-item {
  width: 400px;
  float: left;
  text-align: center;
}

.footer-hashtag {
  padding-top: 30px;
  font-size: 21px;
  font-weight: bold;
}

.footer-social {

  padding-top: 36px;
  text-align: center;
  font-size: 0;
  min-height:

}

.social-btn {
  display: inline-block;
  margin: 0;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  margin-right: 6px;
  vertical-align: middle;
}

.social-btn:hover {
  background-color: #669ec0;
  transition-duration: 0.5s;

}

.social-btn:active {
  background-color: #5496bd;
  transition-duration: 0.1s;
  opacity: 0.3;
}

.social-btn-twitter {
  background-image: url("../img/twitter-icon.png");
  background-repeat: no-repeat;
  background-position: 15px 17px;
}

.social-btn-facebook {
  background-image: url("../img/facebook-icon.png");
  background-repeat: no-repeat;
  background-position: 18px 13px;
}

.social-btn-youtube {
  background-image: url("../img/youtube-icon.png");
  background-repeat: no-repeat;
  background-position: 13px 16px;
}

.footer-copyright {
  padding-top: 40px;
  font-size: 0;
}

.footer-copyright p{
  margin: 0;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;

}

.footer-copyright a {
  font-size: 22px;
  display: inline-block;
  vertical-align: middle;
  width: 114px;
  margin-left: 6px;
}

.footer-copyright a:hover {

}
